body{
    background-color: #e5e5e5;
}

.nav-extended{
    background-image: url("imagens/animini.jpg");
    background-size: cover;
    
}

nav ul li.active, .tab a.active{
    border-bottom: solid 2px #fff;
 
}

.fadeOut{
    opacity:0;
    transition: 1s;
}

.tenor-gif-embed{
    margin-left: 90px;
}

.logo{
    padding-left: 13%;
}




